body {
    background-color: #ECECEC;
    margin: 0;
}

form {
    text-align: end;
}

.button-white {
    display: flex;
    background: #ffffff;
    position: absolute;
    right: 400px;
    bottom: 50px;
    border-radius: 50px;
    padding: 20px 25px;
    font-family: 'Sequel Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #040404;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.button-white:hover {
    background: #ffffff;
    transform: scale(1.2);
}

.logo {
    width: 102px;
    height: 101px;
    justify-content: left;
    margin-top: 16px;
    margin-left: 27px;
}

.Imageaccueil {
    max-width: 1220px;
    height: auto;
}

.menutabb {
    text-decoration: none;
    color: #093D4D;
    font-size: 20px;
}

.tab {
    justify-content: center;
    text-indent: 15px;
    font-size: 1.5vw;
}

.tab h3 {
    padding: 15px;
}

header {
    background-color: #093D4D;
    padding-bottom: 15px;
}

.tabletxt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-indent: 5px;
    color: #FFFFFF;
}


.Histoiresetsecretstab {
    text-align: center;
    font-family: 'Josephin Sans';
    font-style: normal;
}

.Lieuxetmonumentstab {
    font-family: 'Josephin Sans';
    font-style: normal;
}

.Actualitestab {
    font-family: 'Josephin Sans';
    font-style: normal;
}

.Sinscriretab {
    font-family: 'Josephin Sans';
    font-style: normal;
}

.Seconnectertab {
    font-family: 'Josephin Sans';
    font-style: normal;
}

.EngFrtab {
    font-family: 'Josephin Sans';
    font-style: normal;
}


.container {
    display: flex;
}


.column3 {
    font-family: 'Sequel Sans';
    font-style: normal;
    color: #000000;
    display: flex;
    text-indent: 40px;
    justify-content: center;
    font-size: 20px;
}

.column2 {
    font-family: 'Sequel Sans';
    font-style: normal;
    color: #000000;
    padding-left: 100px;
    line-height: 10px;
}

.column1 {
    font-family: 'Sequel Sans';
    font-style: normal;
    color: #000000;
    padding-left: 50px;
    line-height: 10px;
    padding-bottom: 80px;
}

.introduction{
    display: flex;
    justify-content: center;
    height: 10cm;
}


.marbreinsolit{
    display: flex;
    border-radius: 19.0144px;
}

.contenant{
    display: flex;
    position: relative;
    text-align: center;
}


.insolit-titre{
    display: flex;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #093D4D;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.classe-titres {
    display: flex;
    justify-content: center;
    font-family: 'Josephin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #093D4D;
}

.categories{
    display: flex;
    justify-content: center;
    height: 7cm;
    padding-top: 200px;
}

.categories-text{
    position: absolute;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #093D4D;
    margin-left: 152px;
}

.buttons{
    float: left;
    align-items: baseline;
    justify-content: space-between;
}

.button-histsecrets{
    background: url(Marbre\ 1.png);
    border: none;
    padding: 35px;
    text-align: center;
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #093D4C;
    border-radius: 20px;
    transform: matrix(0, -1, 1, 0, 0, 0);
}

.button-lieuxmonuments{
    background: url(Marbre\ 1.png);
    border: none;
    padding: 35px;
    text-align: center;
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #093D4C;
    border-radius: 20px;
    transform: matrix(0, -1, 1, 0, 0, 0);
}

.button-actualites{
    background: url(Marbre\ 1.png);
    border: none;
    padding: 35px;
    text-align: center;
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    color: #093D4C;
    border-radius: 15px;
    transform: matrix(0, -1, 1, 0, 0, 0);
}

.articles1{
    display: flex;
    justify-content: center;
    height: 10cm;
    padding-top: 142px;
}

.article-1{
    display: flex;
    width: 914px;
    height: 348px;
    background: url(Marbre\ 1.png);
    border-radius: 20px;
    padding: 15px;
    margin-top: 114px;
}

.article-1 img {
    width: 457px;
    height: 200px;
    border-radius: 19px 0px 0px 19px;
    background-image: url(Alphonse\ bertillon.jpg);
    object-fit: fill;
}

.article-text1{
    display: flex;
    color: #093D4C;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
}

.article-column{
    display: flex;
    align-items: baseline;
}


.articles2{
    display: flex;
    justify-content: center;
    height: 10cm;
    padding-top: 142px;
}

.article-2{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 914px;
    height: 348px;
    background: url(Marbre\ 1.png);
    border-radius: 20px;
    padding: 15px 32px;
    margin-top: 101px;
}

.footer{
    position: absolute;
    width: 1220px;
    height: 15cm;
    background: #093D4C;
}

.contenu-footer{
    display:flex;
}

.logo-footer{
    position: absolute;
    width: 152px;
    height: 151px;
    padding: 25px 25px;
}

.footer-text1{
    display: flex;
    justify-content: left;
    flex-direction: column;
    line-height: 24px;
    margin-left: 154px;
    margin-top: 131px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-decoration-line: underline;
    color: #ffffff;
    justify-content: space-between;
}

.footer-text2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 24px;
    margin-left: 64px;
    margin-top: 131px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-decoration-line: underline;
    color: #ffffff;
    justify-content: space-between;
}

.footer-questions{
    display: flex;
}

.text-questions{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
    
}








